# The bucket containing the test data
DATA_BUCKET=

# The bucket containing the installation scripts
ALPHA_TARBALL_BUCKET=

# The particular commit SHA to test against
CODEBUILD_RESOLVED_SOURCE_VERSION=

# (Optional) Skip installation of the CRDs and controller into the cluster
# SKIP_INSTALLATION=true

# The credentials to pass the operator installation scripts
OPERATOR_AWS_ACCESS_KEY_ID=
OPERATOR_AWS_SECRET_ACCESS_KEY=

# The role ARN to inject into the SageMaker jobs
ROLE_ARN=arn:aws:iam::

# (Optional) An existing FSX cluster with training data
# FSX_ID=fs-0c80e27f4c1c49d96

# (Optional) Print all controller logs in the event of a failure
# PRINT_DEBUG=false